<h3 class="quote-head">Get Quote</h3>
<div class="form">

    <form [formGroup]="quoteForm" (ngSubmit)="submitQuote()" class="quote-form">

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter your name" />
    <mat-error *ngIf="quoteForm.get('name')?.touched && quoteForm.get('name')?.invalid">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phone" placeholder="Enter your phone number" />
    <mat-error *ngIf="quoteForm.get('phone')?.touched && quoteForm.get('phone')?.invalid">
      Phone number is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter your email" />
    <mat-error *ngIf="quoteForm.get('email')?.touched && quoteForm.get('email')?.invalid">
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" placeholder="Describe your request"></textarea>
    <mat-error *ngIf="quoteForm.get('description')?.touched && quoteForm.get('description')?.invalid">
      Description is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Get a Quote
  </button>

</form>

</div>

